#name, #email, #password {
	background-color: #ccffff;
	border-left: 3px solid rgb(140, 25, 212);
	border-top: none;
	border-bottom: none;
	border-right: none;
	padding: 12px;
	margin-bottom: 12px;
    left: 10px;
}

#submit {
	margin-left: 120px;
	margin-top: 10px;
	margin-bottom: 15px;
    left: 90px;
}
