*{
    background-color: rgb(189, 140, 151);
}
#border {
	border-style: solid groove dashed dotted;
	border-width: medium;
	border-color: red yellow green black;
	border-radius: 25px;
}

input{
    background-color: brown;
    border-width: 0px 0px 0px 25px;
    border-color: none none purple none;
}
option{
    background-color: brown;
    border-width: 0px 0px 0px 25px;
    border-color: none none purple none;
}