/* Reset styles */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #a80a0a;
    color: #170da3;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #ccb90d;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #f80a0a;
  }
  
  th, td {
    border: 1px solid #10af53;
    padding: 0.5rem;
    text-align: left;
  }
  
  th {
    background-color: rgb(8, 88, 25);
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #749460;
  }
  
  /* Specific styles for form.html */
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  input[type="submit"] {
    background-color: #0c08d1;
    color: #ffffff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  /* Specific styles for dashboard.html */
  p {
    margin-bottom: 1rem;
  }