header {
    background-color: rgb(1, 52, 1);
    height: 100px;
    min-width: none;
    font-size: larger;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  nav > ul {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  nav > ul > li {
    margin: 0px 20px;
  }
  
  div {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .mission-vision {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.mission-vision h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.mission-vision p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

  
  aside {
    float: left;
    flex: 40%;
    border-style: dotted;
    max-height: 500px;
    border-color: rgb(1, 55, 1);
  }
  
  form {
    background-color: #dbf0f3;
    border-radius: 8px;
    border-color: rgb(1, 55, 1);
    border-style: solid;
    margin: 10px;
    padding: 10px;
    display: block;
  }
  
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  article {
    flex: 60%;
    margin: 15px;
    text-align: justify;
    font-family:Arial, sans-serif;
	font-size: 18px;
  }
  
  article h3 {
    text-align: center;
    font-size: xx-large;
  }
  
  img {
    float: right;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 5px;
    clear: right;
  }
  
  footer {
    color: white;
    text-align: center;
    background-color: rgb(1, 55, 1);
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  
  @media screen and (max-width: 600px) {
    div {
      flex-flow: row wrap;
    }
  
    nav > ul {
      flex-flow: row wrap;
    }
  }
  
  